<!DOCTYPE html>
<!--xmlns:th="http://www.thymeleaf.org"-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册页面</title>
    <!--<link rel="stylesheet" type="text/css"-->
          <!--th:href="@{/WEB-INF/resources/style.css}"/>-->
    <style type="text/css">
        li{
            color: red;
        }
    </style>
</head>
<body>
    <h1>注册页面</h1>
    <form th:method="post" method="post" th:object="${spitter}" th:action="@{/thymeleaf/register}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err:${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <br/>
        <label th:class="${#fields.hasErrors('firstName')}?'error'">First Name</label>
        <input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}?'error'"/><br/>
        <label th:class="${#fields.hasErrors('lastName')}?'error'">Last Name</label>
        <input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}?'error'"/><br/>
        <label th:class="${#fields.hasErrors('email')}?'error'">Email</label>
        <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}?'error'"/><br/>
        <label th:class="${#fields.hasErrors('username')}?'error'">UserName</label>
        <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')}?'error'"/><br/>
        <label th:class="${#fields.hasErrors('password')}?'error'">Password</label>
        <input type="text" th:field="*{password}" th:class="${#fields.hasErrors('password')}?'error'"/><br/>
        <input type="submit" value="注册"/>
    </form>
</body>
</html>