<!DOCTYPE html>
<!---->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>上传图片</title>
</head>
<body>
    <h2>上传图片表单</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{/mvc/upload}">
        <label>上传文件:</label>
        <input type="file" name="file"/>
        <input type="submit" value="upload"/>
    </form>

    <h2>上传图片通过Part接收表单数据</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{/mvc/uploadByPart}">
        <label>上传文件:</label>
        <input type="file" name="file"/>
        <input type="submit" value="upload"/>
    </form>
</body>
</html>